<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css"/>
    <title>Acessibilidade Digital</title>
</head>
    <body>
        <div>
            <header>
                <nav>
                    <ul class="container-nav-list">
                        <li><a href="/components/home/home.html" class="nav-item">Home</a></li>
                        <li><a href="/components/educacao/educacao.html" class="nav-item">Educação</a></li>
                        <li><a href="/components/fale-conosco/fale-conosco.html" class="nav-item">Fale Conosco</a></li>
                    </ul>
                </nav> 
            </header>
            <figure class="img-bg">
                <figcaption class="invisible">imagem em desenho de três pessoas com deficiências físicas usando um notebook</figcaption>
            </figure>
            <div class="container-conteudo">
                <section class="box-text">
                    <h1>Educação </h1>
                    <p>
                        Entenda o que é acessibilidade digital,
                        a importância da criação de conteúdos acessíveis e
                        os princípios básicos para um projeto mais acessível.
                    </p>
                    <div class="box-link">
                        <a href="/components/educacao/educacao.html" class="link-conteudo">Ler mais >></a>
                    </div>
                </section>
            </div>
            <div class="container-footer">
                <footer class="box-footer">
                    <h3><a href="/components/fale-conosco/fale-conosco.html">Fale Conosco</a></h3>
                </footer>
            </div>
        </div>
    </body>
</html>