div.container-conteudo {
    height: 90vh;
    width: 100%;
    color: #2d2351;
    display: flex;
    flex: 1 3;
}

img.img {
    padding: 2em;
    margin-right: -150px;
}

.container-img {
    display: flex;
    align-items: bottom;
    margin-left: auto;
    padding-top: 4em;
}

.container-img-ideia {
    display: flex;
    align-items: bottom;
    margin-right: auto;
    overflow: hidden;
}

img.img-ideia{
    width: 100%;
    margin-bottom: -40px;
}

section.box-ideia{
    background-color: #FFD700;  
}

section.box-text {
    line-height: 3em;
    margin: auto auto;
    padding: 2em 5em;
    width: 50%;
    overflow: hidden;
    max-height: fit-content;
}

.align-right {
   margin-left: auto !important; 
}



div.box-link {
    display: flex;
    justify-content: end;
}

a.link-conteudo {
    color: #070743;
    font-size: 1.5em;
    transition: .3s;
}

a.link-conteudo.text-green:hover{
    font-size: 2.2em;
    transition: .3s ; 
    color: #a7cd2c;
}

a.link-conteudo.text-red:hover{
    font-size: 2.2em;
    transition: .3s ; 
    color: #ef746f;
}

div.container-footer {
    background-color: #ffffff;
}

footer.box-footer {
    height: 15vh;
    padding: 1em;
    
}

.img-customize {
    background-repeat: no-repeat;
    background-size: 100% 50vh;
    width: 100%;
    height: 50vh;
    border-image-slice: fill;
}

.bg-gold{
    background-color: #FFD700;
}


.touch {
    display: none;
}

@media all and (max-width: 575px){

    .img-customize {
        width: 100%;
    }
   
}

@media all and (min-width: 576px)
{

    .touch {
        display: block;
    }

    .text-customize{
        line-height: 2.3em;
        font-size: 1.3rem;
        text-indent: 1rem;
    }

    .center{
        text-align: center;
    }
}