body {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


*{
    margin: 0;
    padding: 0;
}

.img-insta{
    height: 20px;
    width: 20px;
}