.container-conteudo{
    height: 100vh;
    max-height: 100vh;
    width: 100%;  
}

.container-list {
    height: 100vh;
    width: 50%;
    
}

.bg-orange {
    background-color: #fad2a1;
}

.container-conteudo-max {
    height: auto !important;
    width: 100%;
    background-color: #f6eee1;
}

.text-customize{
    line-height: 2em;
    font-size: 1em;
}

.text-intro {
    width: 66.6%;
    margin: 0 auto;
    padding: 6em 0 ;
}

h5.subtitle{
    font-size: 1.4em;
}

h2.title{
    font-size: 1.8em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
}


div.box-link{
    display: flex;
    justify-content: end;
}

a.link-conteudo {
    color: #0000;
    font-size: 1.5em;
}


.container-footer {
    background-color: #ffffff;
}

.box-footer {
    margin: 16px 24px;
    height: 10vh;
}

.video{
    width:560px; 
    height:315px;
    margin: 0 auto;
    border: 0;
}
